In [38]:
import pandas as pd

In [39]:
df=pd.read_csv(r"C:\Users\Sarath\Documents\S4\Hackathon\40k.csv")

In [40]:
df.describe()

         Unnamed: 0  db.model_preds
count  40623.000000    26097.000000
mean   20371.983236        0.585455
std    11743.590183        0.448801
min        1.000000        0.000010
25%    10206.500000        0.036560
50%    20374.000000        0.910290
75%    30534.500000        0.995500
max    40740.000000        0.999920

In [41]:
df.head()

,Unnamed: 0,id,text,label,type,model_wrong,db.model_preds,status,round,split,annotator
0,1,10000,It should be legal for a husband to rape his wife,hate,notgiven,True,0.97457,dynabench entry,1,train,gnzuctwed3
1,2,10001,dalits are lowlife scum,hate,notgiven,False,0.08233,dynabench entry,1,test,cagnluiznm
2,3,10002,dalits are lowlives,hate,notgiven,True,0.92319,dynabench entry,1,train,cagnluiznm
3,4,10003,It was a better world when women dare not ques...,hate,notgiven,True,0.99006,dynabench entry,1,test,gnzuctwed3
4,5,10004,I don't work this hard so that those immigrant...,hate,notgiven,True,0.98836,dynabench entry,1,train,cagnluiznm

In [42]:
df=df.drop(columns=['id','type','model_wrong','db.model_preds','status','round','split','annotator'])

In [43]:
df.head()

   Unnamed: 0                                               text label
0           1  It should be legal for a husband to rape his wife  hate
1           2                            dalits are lowlife scum  hate
2           3                                dalits are lowlives  hate
3           4  It was a better world when women dare not ques...  hate
4           5  I don't work this hard so that those immigrant...  hate

In [44]:
df.columns=['qwer','text','label']

In [45]:
df=df.drop(columns=['qwer'])

In [46]:
df

                                                    text label
0      It should be legal for a husband to rape his wife  hate
1                                dalits are lowlife scum  hate
2                                    dalits are lowlives  hate
3      It was a better world when women dare not ques...  hate
4      I don't work this hard so that those immigrant...  hate
...                                                  ...   ...
40618  we should forcibly remove all the foreigners f...  hate
40619  we should forcibly remove all the immigrants f...  hate
40620               dalits are unworthy of the Gods love  hate
40621                               dalits are worthless  hate
40622       dalits are deserves to be treated as lowlife  hate

[40623 rows x 2 columns]

In [47]:
df.label=df.label.replace({"hate":1,"nothate":0})

In [48]:
df

                                                    text  label
0      It should be legal for a husband to rape his wife      1
1                                dalits are lowlife scum      1
2                                    dalits are lowlives      1
3      It was a better world when women dare not ques...      1
4      I don't work this hard so that those immigrant...      1
...                                                  ...    ...
40618  we should forcibly remove all the foreigners f...      1
40619  we should forcibly remove all the immigrants f...      1
40620               dalits are unworthy of the Gods love      1
40621                               dalits are worthless      1
40622       dalits are deserves to be treated as lowlife      1

[40623 rows x 2 columns]

In [49]:
df.to_csv("modifiedfortyk.csv")